pyrogram==2.0.55
py-tgcalls==2.2.11
pillow==9.5.0
future==0.18.3
pyyaml==6.0.1
aiofiles
bard
SpeechRecognition
aiohttp
asyncio
deepai
python-whois
dnspython
ffmpeg-python
gitpython
hachoir
Faker
pydub
pycountry
heroku3
apscheduler
motor
numpy
psutil
wget
pyfiglet
pytz
search_engine_parser
pykeyboard
pyshorteners
pyrofork
python-dotenv
requests
emojis
speedtest-cli
spotipy
tgcrypto
telegraph
unidecode
yt-dlp
youtube-search
youtube-search-python
gtts
git+https://github.com/AsmSafone/SafoneAPI
lexica-api==1.5.1
httpx
gpytranslate
openai==0.28.0
pickledb
python-telegram-bot
pycryptodome
opencv-python
bing-image-urls
bing_image_downloader
googlesearch-python
sympy
yt_dlp
